{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "printWidth": 80,
  "proseWrap": "always",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "strict"
      }
    },
    {
      "files": "*.{css,scss}",
      "options": {
        "parser": "scss"
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
