$primary: #d9981e !default;
$secondary: #a68a56 !default;
$dark: #0d0d0d !default;
$body-bg-dark: #403e3f !default;
$body-secondary-bg-dark: #737373 !default;
$headings-color-dark: #fff !default;

$navbar-dark-icon-color: #d9981e !default;

$body-color-dark: #fff !default;
